.access-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../.././assets/bg-gif.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.access-logo-gif{
    width: 6rem;
    height: 6rem;
    background-image: url("../.././assets/logo.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.access-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: auto;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid rgba(255, 255, 255, 0.48);
}
.access-info-title{
    display: flex;
    width: 75%;
    height: 260px;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: rgb(252, 252, 252);
    text-shadow: black 0.1rem 0.1rem 0.2rem;
}
.access-info-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 2.5rem;
    color: rgb(252, 252, 252);
    text-shadow: black 0.1rem 0.1rem 0.2rem;
}


/* Loader */
@keyframes ldio-7x7l0mdez0m {
  0% {
    top: 48px;
    left: 48px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 9px;
    left: 9px;
    width: 78px;
    height: 78px;
    opacity: 0;
  }
}.ldio-7x7l0mdez0m div {
  position: absolute;
  border-width: 2px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-7x7l0mdez0m 1.25s cubic-bezier(0,0.2,0.8,1) infinite;
}.ldio-7x7l0mdez0m div:nth-child(1) {
  border-color: #1d3f72;
  animation-delay: 0s;
}
.ldio-7x7l0mdez0m div:nth-child(2) {
  border-color: #5699d2;
  animation-delay: -0.625s;
}
.loadingio-spinner-ripple-c13bao9qa96 {
  width: 87px;
  height: 87px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-7x7l0mdez0m {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.87);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-7x7l0mdez0m div { box-sizing: content-box; }